<div class="container  mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-body text-center">
                            <h3 class="card-title">Reach Us On</h3>

                            <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook h3 mr-4"></i>  <h4>Facebook</h4></a><br>
                            <a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter h3 mr-4"></i>  <h4>Twitter</h4></a><br>
                            <a href="https://mail.google.com" target="_blank"><i class="fa fa-envelope h3 mr-4"></i>  <h4>Email</h4></a><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
