<div class="container">
    <div class="row text-center m-4" *ngIf="!house">
        <div class="col-md-4 offset-md-4">
            <div class="app-loading m-4">
                <div class="logo"></div>
                <svg class="spinner" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
                </svg>
            </div>
        </div>
    </div>
</div>

<div class="container" *ngIf="house">
    

    <div class="row">
        <div class="col-md-8 offset-md-2">
            <img [src]="house?.image" alt="House" style="width: 100%;" class="house-image mt-4">
            <div class="image-engagements py-2 bg-dark text-light">
                <span class="comments font-weight-bold h4 mr-4"><i class="fa fa-comment cursor-pointer"></i> {{ comments?.length }}</span>
                <span class="likes font-weight-bold ml-4 h4" [@openClose]="liked ? 'liked' : 'normal'" (click)="onLike(selectedHouse)"><i class="fa fa-heart cursor-pointer"></i> {{ likes?.length }}</span>
            </div>
        </div>
    </div>
    <hr >

    <div class="row mt-4">
        <div class="col-md-12 bg-light">
            <h2>About House</h2>
        </div>

        <div class="col-md-12 mt-4">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="mb-0">Type:</h4>
                    <p>{{ house?.type }}</p>
                </div>

                <div class="col-md-4">
                    <h4 class="mb-0">School:</h4>
                    <p>{{ house?.school }}</p>
                </div>

                <div class="col-md-4">
                    <h4 class="mb-0">Contact Phone:</h4>
                    <p>{{ house?.phone }}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <h4 class="mb-0">Address:</h4>
                    <p>{{ house?.address }}</p>
                </div>
                <div class="col-md-6">
                    <a *ngIf="editable" [routerLink]="['/edit-house', house?.id]" title="Edit house details" class="h4"><i class="fa fa-pencil"> </i></a>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h4 class="mb-0">Description:</h4>
                    <p>{{ house?.description }}</p>
                </div>
            </div>

        </div>
    </div>

    <div class="row mt-4" id="comments">

        <div class="col-md-12">
            <div class="card border-0">
                <div class="card-body py-0">
                    <h2>Comments</h2>
                </div>
            </div>
        </div>

        
        
        
        
    </div>

    <div class="row my-4">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-12 mt-3" *ngIf="comments?.length === 0">
                    <div class="card border-0">
                        <div class="car-body text-center">
                            <h4>No comment yet</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="comment-con row" *ngIf="comments?.length > 0">
                <div class="col-md-12" *ngFor="let comment of comments" style="width: 100%;">
                    <div class="card my-2">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 row">
                                    <div class="col-2 py-0 px-1">
                                        <img [src]="comment?.userImage" alt="Image" class="my-2 rounded-circle" style="width:90%;max-height: 100px;">
                                    </div>
                
                                    <div class="col-10">
                                        <div class="card-body p-0">
                                            <h5 class="card-title mb-0"><a [routerLink]="['/profile', comment?.owner]">{{ comment?.name }}</a></h5>
                                            <p class="font-italic" style="font-size: 10px;"> {{ comment?.postTime }}</p>
                                            <hr class="m-0">
            
                                            <p class="text-justify">
                                                <i class="fa fa-caret-right"></i> {{ comment?.message }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-5 mt-4">
            <form [formGroup]="commentForm" (ngSubmit)="onComment(commentForm.value)">
                <div class="form-group">
                  <textarea type="text" class="form-control" id="message" formControlName="message" rows="6" placeholder="Your comment"></textarea>
                </div>
                
                <button type="submit" class="btn btn-primary my-2" [disabled]="!commentForm.valid">Comment</button>
              </form>
        </div>
    </div>
</div>