<div class="container-fluid" style="margin-top: 7rem;">
    <div class="row mt-4">
        <div class="col-md-4 text-center">
            <img src="https://placehold.co/250x190" alt="Image" *ngIf="!user?.image" class="rounded-circle profile-image">
            <img [src]="user?.image" alt="Image of {{user?.name}}" class="rounded-circle profile-image">
            <h2>{{ user?.name }}</h2>
            <h5>{{ user?.email }}</h5>
            <p>{{ user?.address }}</p>
        </div>
        <div class="col-md-4">

        </div>
        <div class="col-md-4 text-center text-md-right my-4">
            <a class="btn btn-primary" (click)="edit()">Edit Profile</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body border-0">
                    <h3 class="card-title">{{ user?.name }}'s Uploads</h3>
                </div>
            </div>
        </div>
        <div class="col-md-12 px-0 houses-con" *ngIf="houses?.length > 0">

            <div class="con" *ngFor="let house of houses">
                <a (click)="onSelect(house?.id)" class="img-link">
                    <img [src]="house.image" alt="" class="house-image">
                    <h5 class="img-name mt-2">{{ house?.type }}</h5>
                </a>
                <p class="text-justify">{{ house?.description.slice(0, 100) }}...</p>
            </div>

        </div>

        <div class="col-md-12" *ngIf="houses?.length == 0">
            <div class="card">
                <div class="card-body border-0 text-center">
                    <h4 class="card-title">No Uploads</h4>
                </div>
            </div>
        </div>
    </div>
</div>
