.houses-con {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.con {
    max-width: 300px !important;
    min-width: 25%;
    margin: .5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    height: fit-content;
    box-shadow: 1px 1px 10px 2px #ccc;;
}

.house-image {
    width: 100%;
}

.profile-image {
    max-height: 180px !important;
}